@import 'globals';

$rent-together-bubble-triangle:16px;

/* Style de la bulle */
.bubble {
    clear: both;
    position:relative;
    max-width: 80%;
    padding: $md-grid-phone-margin $md-grid-phone-margin 0 $md-grid-phone-margin;
    margin: $md-grid-phone-margin;
    @include md-box-shadow(3);
}
.bubble.left {
    background: #fff !important;
    float: left;
}

.bubble.right {
    background: $md-primary-color;
    float: right;
}

/* Style du contenu de la bulle */
.bubble .content {
    font-family: $md-font-family;
    font-size: $md-body-desktop-font-size;
    text-align: justify;
}
.bubble.right .content {
    color:#fff;
}
.bubble.left .content {
    color:#000;
}

/* Style du détail de la bulle */
.bubble .detail {
    font-family: $md-font-family;
    font-size: $md-body-desktop-font-size;
    text-align: right;
}
.bubble.right .detail {
    color: $md-light-blue-100;
}
.bubble .detail .md-icon {
    font-size: $md-body-desktop-font-size;

    vertical-align: middle
}
.bubble.left .detail {
    color: #555;
}

.bubble.left:before{
    content: ' ';
    position: absolute;
    left: -$rent-together-bubble-triangle;
    top:  0px;
    border: $rent-together-bubble-triangle solid;
    border-color: #fff transparent transparent transparent;
    
}

.bubble.right:before{
    content: ' ';
    position: absolute;
    right: -$rent-together-bubble-triangle;
    top:  0px;
    border: $rent-together-bubble-triangle solid;
    border-color: $md-primary-color transparent transparent transparent;
}